# Add any directories, files, or patterns you don't want to be tracked by version control
__pycache__/
*.py[cod]
*$py.class
*.vscode
upload/*
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/emr-api.iml
